node_modules/
dist/
.env
.env.local
.env.*.local
*.log

/gee-service-account.json
/backend/.env
/front/.env

/.DS_Store
.kilo/agent-manager.json
.kilo/run-script.ps1
.kilo/rules/project.md
outputJsonDem/dem-hexagons-1777301028352.json
